@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Primary Colors
--------------------------------------*/
/* Neutral Colors
--------------------------------------*/
/* Colors by element
--------------------------------------*/
/* Breakpoints
--------------------------------------*/
/* Typography
--------------------------------------*/
/* Reset
--------------------------------------*/
html,
body,
main,
h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 9.2rem 1.5rem 0 1.5rem;
}
@media (min-width: 768px) {
  main {
    padding: 8rem 2rem 0 2rem;
  }
}

.attribution {
  color: #e7e7e9;
  padding: 0 1rem;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: #f47c57;
}
.attribution a:hover {
  color: #af67e9;
  text-decoration: none;
}

/* Card
--------------------------------------*/
.card {
  background-color: white;
  width: 100%;
  max-width: 57.5em;
  border-radius: 1.7rem;
  text-align: center;
  padding-bottom: 3.3rem;
  box-shadow: 0 1rem 4rem rgba(51, 51, 51, 0.5);
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 15rem;
  /* Header Image */
  /* FAQ Content */
}
@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-image: none;
    padding-bottom: 0;
    margin: 0 0 0 2.5rem;
  }
}
@media (max-width: 1000px) {
  .card {
    gap: 2rem;
  }
}
.card-image {
  overflow: visible;
  margin: -6.7rem auto 0 auto;
}
@media (min-width: 768px) {
  .card-image {
    width: 50rem;
    padding-bottom: 5rem;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: top -12rem left -36rem;
    background-size: 60rem;
    background-repeat: no-repeat;
  }
}
.card-image .image-mobile {
  width: 15rem;
}
@media (min-width: 768px) {
  .card-image .image-mobile {
    display: none;
  }
}
.card-image .image-desktop-woman {
  display: none;
}
@media (min-width: 768px) {
  .card-image .image-desktop-woman {
    display: block;
    min-width: 30rem;
    width: 100%;
    margin: 11rem 0 0 -5.5rem;
  }
}
.card-image .image-desktop-box {
  display: none;
}
@media (min-width: 768px) {
  .card-image .image-desktop-box {
    display: block;
    position: absolute;
    margin: 19.5rem 0 0 -6rem;
    width: 100%;
    max-width: 12rem;
  }
}
.card-body {
  padding: 0 1.5rem;
  /* FAQ Heading */
}
@media (min-width: 768px) {
  .card-body {
    width: 100%;
    padding: 1rem 7rem 0 5.3rem;
    max-width: 28rem;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .card-body {
    padding: 1rem 2rem 0 0;
  }
}
.card-body .heading {
  color: #1d1e35;
  font-size: 2rem;
  margin-top: 3.3rem;
}
@media (min-width: 768px) {
  .card-body .heading {
    margin-top: 3.1rem;
  }
}

/* Accordion
--------------------------------------*/
.wrapper {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .wrapper {
    margin-top: 1.2rem;
  }
}

.accordion {
  text-align: left;
  position: relative;
  border-bottom: 1px solid #e7e7e9;
  /* Accordion Header */
  /* Accordion Panel */
}
.accordion-header h2 {
  padding: 1rem 0;
  font-size: 0.825rem;
  font-weight: 400;
  color: #787887;
  cursor: pointer;
  /* Arrow */
}
@media (min-width: 768px) {
  .accordion-header h2 {
    font-size: 0.88rem;
  }
}
.accordion-header h2:after {
  position: absolute;
  right: 0rem;
  content: "";
  margin-left: auto;
  background-image: url(../images/icon-arrow-down.svg);
  background-size: 0.65rem 0.35rem;
  background-position-y: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
}
.accordion-header h2:hover {
  color: #f47c57;
}
.accordion-panel {
  width: 90%;
  font-size: 12px;
  color: #787887;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
@media (min-width: 768px) {
  .accordion-panel {
    width: 100%;
  }
}
.accordion .active h2 {
  color: #1d1e35;
  font-weight: 700;
}
.accordion .active h2:after {
  transform: scaleY(-1);
}
.accordion .active + .accordion-panel {
  padding-bottom: 1.2rem;
}

/*# sourceMappingURL=style.comp.css.map */
