/* Card
--------------------------------------*/
.card {
  background-color: $clr-bg-card;
  width: 100%;
  max-width: 57.5em;
  border-radius: 1.7rem;
  text-align: center;
  padding-bottom: 3.3rem;
  box-shadow: 0 1rem 4rem $clr-card-shadow;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 15rem;

  @media (min-width: $breakpoint-md) {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-image: none;
    padding-bottom: 0;
    margin: 0 0 0 2.5rem;
  }
  @media (max-width: $breakpoint-lg) {
    gap: 2rem;
  }

  /* Header Image */
  &-image {
    overflow: visible;
    margin: -6.7rem auto 0 auto;
    @media (min-width: $breakpoint-md) {
      width: 50rem;
      padding-bottom: 5rem;
      background-image: url(../images/bg-pattern-desktop.svg);
      background-position: top -12rem left -36rem;
      background-size: 60rem;
      background-repeat: no-repeat;
    }
    .image-mobile {
      width: 15rem;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
    .image-desktop-woman {
      display: none;
      @media (min-width: $breakpoint-md) {
        display: block;
        min-width: 30rem;
        width: 100%;
        margin: 11rem 0 0 -5.5rem;
      }
    }
    .image-desktop-box {
      display: none;
      @media (min-width: $breakpoint-md) {
        display: block;
        position: absolute;
        margin: 19.5rem 0 0 -6rem;
        width: 100%;
        max-width: 12rem;
      }
    }
  }

  /* FAQ Content */
  &-body {
    padding: 0 1.5rem;
    @media (min-width: $breakpoint-md) {
      width: 100%;
      padding: 1rem 7rem 0 5.3rem;
      max-width: 28rem;
      text-align: left;
    }
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      padding: 1rem 2rem 0 0;
    }

    /* FAQ Heading */
    .heading {
      color: $clr-txt-header;
      font-size: 2rem;
      margin-top: 3.3rem;
      @media (min-width: $breakpoint-md) {
        margin-top: 3.1rem;
      }
    }
  }
}

/* Accordion
--------------------------------------*/
.wrapper {
  margin-top: 1rem;
  @media (min-width: $breakpoint-md) {
    margin-top: 1.2rem;
  }
}
.accordion {
  text-align: left;
  position: relative;
  border-bottom: 1px solid $clr-line;

  /* Accordion Header */
  &-header {
    h2 {
      padding: 1rem 0;
      font-size: 0.825rem;
      font-weight: 400;
      color: $clr-txt-accordion;
      cursor: pointer;
      @media (min-width: $breakpoint-md) {
        font-size: 0.88rem;
      }

      /* Arrow */
      &:after {
        position: absolute;
        right: 0rem;
        content: '';
        margin-left: auto;
        background-image: url(../images/icon-arrow-down.svg);
        background-size: 0.65rem 0.35rem;
        background-position-y: center;
        background-repeat: no-repeat;
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
      }
      &:hover {
        color: $clr-txt-accordion-hover;
      }
    }
  }

  /* Accordion Panel */
  &-panel {
    width: 90%;
    font-size: $font-size;
    color: $clr-txt-panel;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    @media (min-width: $breakpoint-md) {
      width: 100%;
    }
  }
  .active {
    h2 {
      color: $clr-txt-accordion-active;
      font-weight: 700;
      &:after {
        transform: scaleY(-1);
      }
    }
  }
  .active + .accordion-panel {
    padding-bottom: 1.2rem;
  }
}
