html {
  height: auto;
}
body {
  font-family: $ff-primary;
  background-image: linear-gradient($clr-bg-gradient-1, $clr-bg-gradient-2);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12.5rem 1.9rem 0 1.9rem;
  @media (min-width: $breakpoint-md) {
    padding: 10rem 5rem 0 5rem;
  }
}
.attribution {
  color: $clr-attribution-text;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  a {
    color: $soft-red;
  }
  a:hover {
    color: $soft-violet;
    text-decoration: none;
  }
}
